/* Variable definition because it would take a long time to manually change things (colours) that are used repeatedly. */
:root {
    --input-color: #f3f2e7;
    --input-color-hover: #d1d0c7;
    --text-color: #ffffff;
    --box-color: #000000;
    --link-color: #00ffff;
}

body {
    /* For fullscreen body tag. */
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;

    background-image: url("../img/uclu.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* Preventing the selection and copying of texts. */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    user-select: none; /* General */
}

.navbar-button {
    width: 4vw;
    height: 4vw;
    border-radius: 1.15vw;

    position: fixed;
    top: 1vw;
    left: 1vw;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    color: var(--box-color);
    background-color: var(--input-color);
}

.navbar-button:hover {
    background-color: var(--input-color-hover);
}

div {
    width: 82vw;
    height: 10vw;

    position: relative;
    top: 36vw;
    left: 6vw;

    display: flex;
    justify-content: space-between;
}

p {
    width: 20vw;
    height: 10vw;
    border-radius: 1.5vw;
    background-color: var(--box-color);

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-color);
    font-size: 0.9vw;
}

/* The links were independent of the paragraph. We solved it by manually adjusting their position. */
a {
    position: absolute;
    top: 7.2vw;

    color: var(--link-color);
}

a.asaf {
    left: 6vw;
}

a.alperen {
    left: 39vw;
}

a.mete {
    left: 70vw;
}